
*{
  color: white;
  font-family: Arial;
}

html{
  margin: 0px 0px;
  border: 0px 0px;
}

h1{
  padding: 5px 5px;
  font-size: 40px;
}

body{
  margin: 0;
  background-image: url(/images/mercury.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#heading{
  text-align: center;
}

#wrapper{
  min-height: 100%;
  display: block;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
  padding: 0px 10px;
  padding-bottom: 0px;
  border: 0px 0px;
  background-color: rgba(255, 102, 0, 0.5);
}

#navbar{
  list-style: none;
  display: inline;
  border: 0 solid #555;
}

input[type=text]{
  color: black;
}


.search{
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  float: left;
}

.searchButton{
  position: relative;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  float: right;
  left: 5px;
  bottom: 5px;
}

.navButton{
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  float: left;
}

.active{
  background-color: #4d1a00;
}



.navbutton:hover, .searchButton:hover{
  background-color: #4d1a00;
}

#older{
  margin-bottom: 40px;
}

#newer{
  margin-top: 40px;
}
