html
head
    link(type='text/css', rel='stylesheet', href='/pages/style/navbar.css')
    link(rel='icon', href='/images/icon.png')
    title The Space Cadet's Log
  body
    #wrapper
      #heading
        h1 Looks like you're lost
      #content
        h2 404

