
*, html{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 50px;
}

body{
  background-image: url(/images/mercury.jpg);
  height: 100%;
  display: flex;
}

#heading{
}

#wrapper{
  font-family: "Arial";
  color: white;
  border: 0px 0px;
  background-color: rgba(255, 102, 0, 0.5);
  margin: 0px 5%;
  padding: 20px 5%;
}

#content{
  display: inline-block;
  text-align: left;
}

#buttons{
  display: block;
  
}

.navButton{
  float: left;
  font-size: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 0px 10px;
}


.navbutton:hover{
  background-color: #4d1a00;
}


